<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	xmlns:android = "http://schemas.android.com/apk/res/android"
	id        = "com.mccarthy.webredir"
	versionCode = "10"
	version   = "1.9.2">
	<name>Charles McCarthy</name>
	<description>Established in business in Skibbereen for four generations, we are over forty years in estate agency and auctioneering. We handle all types of property – residential, coastal, period, agricultural and commercial. Due to our unique ocean side location on the gulf stream, coastal and holiday properties form a substantial part of our business.</description>
	<author href="https://getbutterfly.com/" email="getbutterfly@gmail.com">Ciprian Popescu</author>
	<feature name="http://api.phonegap.com/1.0/network" />
	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="true" />
	<preference name="target-device" value="universal" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="false" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="default" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="FadeSplashScreen " value="true" />
	<preference name="EnableViewportScale" value="true" />
	<preference name="MediaPlaybackRequiresUserAction" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />
	<preference name="BackupWebStorage" value="local" />
	<preference name="TopActivityIndicator" value="gray" />
	<preference name="KeyboardDisplayRequiresUserAction" value="true" />
	<preference name="KeyboardShrinksView " value="true" />
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="SuppressesIncrementalRendering" value="true" />
	<preference name="windows-identity-name" value="" />
	<preference name="android-minSdkVersion" value="21" />
	<preference name="android-targetSdkVersion" value="26" />
	<preference name="android-installLocation" value="preferExternal" />
	<preference name="SplashScreenDelay" value="5000" />
	<preference name="ErrorUrl" value="" />
	<preference name="BackgroundColor" value="0x000000" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="LoadingDialog" value="Loading...,Loading assets..." />
	<preference name="LoadUrlTimeoutValue" value="20000" />
	<platform name="android">
	</platform>
    <icon src="icon.png" />
    <access origin="charlesmccarthy.com" subdomains="true" />
</widget>
